/* ===== HEADER ===== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 0 60px;
  z-index: 9999;
  display: flex;
  align-items: center;
  background: transparent;
  transition: 0.3s ease;
}

.header.scrolled {
  background: rgba(10, 25, 15, 0.95);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

/* MAIN CONTAINER */
.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
}

/* LOGO */
.logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #9be15d;
  cursor: pointer;
  white-space: nowrap;
}

/* NAV WRAPPER */
.nav-links {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}

/* CENTER MENU */
.nav-center {
  margin: 0 auto;
  display: flex;
  gap: 28px;
  width: 70px;
 }

/* RIGHT BUTTON */
.nav-right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* LINKS */
.nav-link {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(23, 234, 12);
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  padding: 0;
  transition: 0.3s;
}

/* underline */
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 2px;
  background: #9be15d;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link:hover {
  color: #9be15d;
}

/* CTA BUTTON */
.nav-btn {
  padding: 8px 18px;
  border-radius: 28px;
  background: linear-gradient(135deg, #7bdc65, #3fa34d);
  color: #083d1a !important;
  font-weight: 700;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.nav-btn:hover {
  background: linear-gradient(135deg, #5fd06c, #2f8f44);
  transform: translateY(-2px);
}

/* MOBILE MENU */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 26px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: #0b1a12;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    transform: translateY(-130%);
    transition: 0.4s ease;
  }

  .nav-links.open {
    transform: translateY(0);
  }

  .nav-center {
    flex-direction: column;
    gap: 18px;
  }

  .nav-right {
    margin-top: 18px;
  }

  .nav-link {
    font-size: 16px;
  }
}
